 .buddy {
    height: 267px;
    border-radius: 39px;
}

.team__buddy{

  margin-top: 200px;
  padding: 50px;
  padding-bottom: 0px;
}

.the__team{
  display: flex;
}

.banner-content{
  padding-top: 256px;
}
