

      <div class="team__buddy">
        <ul class="list-inline text-center">
          <li>
            <img class="buddy" src="https://avatars3.githubusercontent.com/u/40460759?v=4" alt="">
            <h3>Henry Stahl</h3>
          </li>
          <li>
            <img class="buddy" src="https://avatars3.githubusercontent.com/u/40319710?v=4" alt="">
            <h3>Caspar Schroeder</h3>
          </li>
          <li>
            <img class="buddy" src="https://avatars1.githubusercontent.com/u/40363168?v=4" alt="">
            <h3>Joni Schroeder</h3>
          </li>
        </ul>
      </div>
