<html>
  <head>
   <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
      <div class="banner-content">
        <h1>Get to know the team</h1>
        <p>Learn to code with us</p>
        <a class="btn btn-primary btn-lg">contact us</a>
      </div>
    </div>
    <div>
      <div class="team__buddy">
        <ul class="list-inline text-center">
          <li>
            <img class="buddy" src="https://avatars3.githubusercontent.com/u/40460759?v=4" alt="">
            <h3>Henry Stahl</h3>
          </li>
          <li>
            <img class="buddy" src="https://avatars3.githubusercontent.com/u/40319710?v=4" alt="">
            <h3>Caspar Schroeder</h3>
          </li>
          <li>
            <img class="buddy" src="https://avatars1.githubusercontent.com/u/40363168?v=4" alt="">
            <h3>Joni Schroeder</h3>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
